html {
    background-color: gray;
}

.input {
    display: block;
}

.btns-div {
    display: block;
    margin-top:1px;
}

#results {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btns:hover {
    background-color: #1AD6FD;
    border: 1px solid #1AD6FD;
    border-radius: 10px;
}